<!doctype html>
<html lang="en">
    <div id="game" class="game">
        <%- include('header'); -%>

            <div v-if="me.state==0">
                <%- include('login'); -%>
            </div>
            <div v-else-if="me.state==1">
                <%- include('register'); -%>
            </div>
            <div v-else-if="me.state==2">
                <div class="waiting_room" v-if="gameState.state==0">
                    <%- include('waiting_room') %>
                </div>
                <div class="in_game" v-else-if="gameState.state>=1">
                    <%- include('in_game') %>
                </div>
                <div v-else-if="gameState.state==2">
                    <h2>Results</h2>
                </div>
                <div v-else-if="gameState.state==3">
                    <h2>Scores</h2>
                </div>
                <div v-else-if="gameState.state==4">
                    <h2>Game Over</h2>
                </div>

            </div>
            <div class="bg-white d-inline-flex p-1  fixed-bottom justify-content-center">
                <p><strong>my state: {{me.state}} | game state: {{gameState.state}}</strong></p>
            </div>
            <%- include('footer'); -%>
    </div>

</html>