<!doctype html>
<html lang="en">
    <div id="game" class="game">
        <%- include('header'); -%>

            <div v-if="me.state==0">
                <%- include('login'); -%>
            </div>
            <div v-else-if="me.state==1">
                <%- include('register'); -%>
            </div>
            <div v-else-if="me.state==2">
                <div v-if="state==0">
                    <%- include('waiting_room') %>
                </div>
                <div v-else-if="state==1">
                    <h2>In GAMEEEEEEE youre not</h2>
                    <p v-for="player in audience">
                        {{player}}
                    </p>
                </div>
                <div v-else-if="state==2">
                    <h2>Game over x</h2>
                </div>
                <div>
                    <div class="bg-primary d-inline-flex p-1  fixed-bottom justify-content-center">
                        <p><strong>my state</strong>: {{me.state}} | <strong>game state</strong>:{{state}}</p>
                    </div>
                </div>
            </div>




            <%- include('footer'); -%>
    </div>

</html>