<!DOCTYPE html>
<html lang="en">
    <div id="game" class="game">
        <%- include('header'); -%>

            <div class="in_game" v-if="me.state==0"><%- include('login'); -%></div>
            <div class="in_game" v-else-if="me.state==1"><%- include('register'); -%></div>
            <div v-else-if="me.state==2">
                <h4 class="banner-green">PLAYERS</h4>
                <div class="players_side">
                    <div class="logo" v-for="member in players">
                        <h2 class="spaceLeft">{{ member }}</h2>
                    </div>
                </div>
                <div>{{countDown}}</div>

                <div class="waiting_room" v-if="gameState.state==0">
                    <%- include('waiting_room') -%>
                </div>
                <div class="in_game" v-else-if="gameState.state==1">
                    <%- include('prompts') -%>
                </div>
                <div class="in_game" v-else-if="gameState.state==2">
                    <%- include('answers')-%>
                </div>
                <div class="in_game" v-else-if="gameState.state==3">
                    <%- include ('voting')-%>
                </div>
                <div class="in_game" v-else-if="gameState.state==4">
                    <%- include ('scores')-%>
                </div>
                <div class="in_game" v-else-if="gameState.state==5">
                    <%- include ('game_over')-%>
                </div>
                <div class="in_game" v-else-if="gameState.state==6">
                    <%- include ('leaderboard')-%>
                        <div class="bg-white d-inline-flex p-1 fixed-bottom justify-content-center">
                            <p>
                                <strong>my state: {{ me.state }} | game state:
                                    {{ gameState.state }}</strong>
                            </p>
                        </div>
                </div>
                <h4 class="banner-red">AUDIENCE</h4>
                <div class="audience_side">
                    <div class="logo" v-for="member in audience">
                        <h2 class="spaceLeft">{{ member }}</h2>
                    </div>
                </div>
                <%- include('footer'); -%>
            </div>

    </div>

</html>