<!DOCTYPE html>
<html lang="en">
    <div id="game" class="game">
        <%- include('header'); -%>

            <div v-if="me.state==2">
                <div v-if="players.includes(me.username)" class="timer">{{countDown}}</div>
            </div>

            <div v-if="me.state==2" class="music">
                <div class="toggle-sound">
                    <button v-if="audio==true" v-on:click="toggleMusic()">
                        Mute
                    </button>
                    <button v-else v-on:click="toggleMusic()">
                        Play music
                    </button>
                </div>
                <audio ref="audio" src="static/audio.ogg" loop id="audio"></audio>
            </div>

            <div class="in_game" v-if="me.state==0"><%- include('login'); -%></div>
            <div class="in_game" v-else-if="me.state==1"><%- include('register'); -%></div>
            <div v-else-if="me.state==2">
                <div v-if="me.openStats==false">
                    <button class="prompt_button" v-on:click="toggleStats()">Prompt history</button>
                </div>
                <div class="stats" v-else>
                    <button class="btn btn-outline-warning" v-on:click="toggleStats()">Minimize</button>
                    <h2>Your last 5 prompts :)</h2>
                    <div class="text-black" v-for="prompt in me.stats">
                        <ul>{{me.stats.indexOf(prompt)}}. "{{prompt}}"</ul>
                    </div>
                </div>
                <h4 class="banner-green">PLAYERS</h4>
                <div v-if="gameState.state<5" class="players_side">
                    <div class="logo " v-for="member in players">
                        <h2 class="jumping_card_green spaceLeft">{{ member }}</h2>
                    </div>
                </div>

                <div class="waiting_room" v-if="gameState.state==0">
                    <%- include('waiting_room') -%>
                </div>
                <div class="in_game" v-else-if="gameState.state==1">
                    <%- include('prompts') -%>
                </div>
                <div class="in_game" v-else-if="gameState.state==2">
                    <%- include('answers')-%>
                </div>
                <div class="in_game" v-else-if="gameState.state==3">
                    <%- include ('voting')-%>
                </div>
                <div class="in_game" v-else-if="gameState.state==4">
                    <%- include ('scores')-%>
                </div>
                <div class="in_game" v-else-if="gameState.state==5">
                    <%- include ('game_over')-%>
                </div>
                <div class="in_game" v-else-if="gameState.state==6">
                    <%- include ('leaderboard')-%>
                </div>
                <h4 class="banner-red">AUDIENCE</h4>
                <div v-if="gameState.state<5" class="audience_side">
                    <div class="logo " v-for="member in audience">
                        <h2 class="jumping_card_red spaceLeft">{{ member }}</h2>
                    </div>
                </div>
                <%- include('footer'); -%>
            </div>

    </div>

</html>